/*  기본 스타일 모음  */

/*  폰트 정의  */
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('./NeoDunggeunmoPro-Regular.woff') format('woff');
}

#mainContainer {
    position: absolute;
    top: var(--padding-base);
    left: var(--padding-horizontal);
    right: var(--padding-horizontal);
    bottom: var(--padding-base);
    overflow: hidden;
    overflow-y: auto;
}

html, body {
    margin: 0;
    height: 100%;

    padding: var(--padding-base);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);

    background: var(--c-black-bg);
    color: var(--c-green-text);
    
    /*  텍스트 RGB 글리치 효과  */
    text-shadow: 
        0 0 5px var(--c-green-text-glow),
        -1px 0 0 var(--c-red-shift),
        1px 0 0 var(--c-blue-shift);
}

* {
    box-sizing: border-box;
    font-size: var(--font-size-base);
    font-family: var(--font-family-mono);
}

::selection {
    background-color: var(--c-green-text);
    color: var(--c-black-bg);
}

::-moz-selection {
    background-color: var(--c-green-text);
    color: var(--c-black-bg);
}